<h2>These are all of the Pokemon in Pokenatra</h2>
<h3><a href="pokemon/new_pokemon">Create New Pokemon</a></h3>
<% @pokemon.each do |pokemon| %>
  <a href="/pokemon/<%= pokemon.id %>"<div class="pokemon"><%= pokemon.name %></div></a>
  <img class="pokemon_pic" src="<%= pokemon.img_url %>" alt="<%= pokemon.name %>">
  <p>Please Click the Pokemon for more detail</p>
<% end %>
