<h2>To Create A New Pokemon, Please Fill Out The Below Form</h2>
<form action="/pokemon" method="post">
  <label>Name: </label>
  <input type:"text" name="pokemon[name]">

  <label>CP: </label>
  <input type:"text" name="pokemon[cp]">

  <label>Pokemon Type: </label>
  <input type:"text" name="pokemon[poke_type]">

  <label>Image Url: </label>
  <input type:"text" name="pokemon[img_url]">

  <label>Trainer_id: </label>
  <input type:"text" name="pokemon[trainer_id]">

  <input type="submit" value="CREATE">
</form>
