<h2>Pokemon <%= @pokemon.name %></h2>
<img src="<%= @pokemon.img_url %>">
<div class=Pokemon_info>This Pokemon's CP is: <%= @pokemon.cp %></div>
<div class=Pokemon_info>This Pokemon's Type is: <%= @pokemon.poke_type %></div>
