<h2>Welcome to Your Pokenatra</h2>
<a href="/pokemon"><img src="http://vignette4.wikia.nocookie.net/pokemon/images/4/41/004Charmander_OS_anime_2.png/revision/latest?cb=20140603214909" alt="charmander" height="50%" width:"50%"></a>
  <h3>Pokemon</h3>
<a href="/trainer"><img src="http://vignette2.wikia.nocookie.net/fantendo/images/c/c2/Ash_Ketchum_BW.png/revision/latest?cb=20130402155252" alt="ash" height="50%" width:"50%"></a>
  <h3>Trainers</h3>
