<h2>To Create A New Trainer, Please Fill Out The Below Form</h2>
<form action="/trainer" method="post">
  <label>Name: </label>
  <input type:"text" name="trainer[name]">

  <label>Level: </label>
  <input type:"text" name="trainer[power_level]">

  <label>Image Url: </label>
  <input type:"text" name="trainer[img_url]">

  <input type="submit" value="CREATE">
</form>
